.board {
  text-align: center;
}

.row {
  display:flex;
  justify-content: center;
}

input {
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.cell__input {
  background-color: transparent;
}

.cell--green {
  background-color: green;
}
